<ion-view class="my-view">
  <ion-nav-title class="my-view-title">修改密码</ion-nav-title>
  <ion-content>
    <form name="changePasswordForm" ng-submit="updatePassword(changePasswordForm)" novalidate>
      <div class="list register-block">
        <label class="item item-input register-input">
          <span class="input-label">原密码：</span>
          <input type="password" name="oldPassword" ng-model="changePassword.oldPassword" ng-pattern="/^[0-9a-zA-Z]{6,16}$/" placeholder="6-16位英文字母或数字" required>
        </label>

        <label class="item item-input register-input">
          <span class="input-label">新密码：</span>
          <input type="password" name="newPassword" ng-model="changePassword.newPassword" ng-pattern="/^[0-9a-zA-Z]{6,16}$/" placeholder="6-16位英文字母或数字" required>
        </label>

        <label class="item item-input register-input">
          <span class="input-label">确认密码：</span>
          <input type="password" name="confirmPassword" ng-model="changePassword.confirmPassword" ng-pattern="/^[0-9a-zA-Z]{6,16}$/" placeholder="请再次输入密码" required>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-assertive" type="submit">保存修改</button>
        <button class="button button-block button-outline button-assertive" ui-sref="tab.account">取消</button>
      </div>
    </form>


  </ion-content>
</ion-view>
