
<ion-view class="my-view">
  <ion-nav-title class="my-view-title">商店</ion-nav-title>
  <!--<ion-nav-bar>-->
    <!--<ion-nav-back-button class="button-clear">-->
      <!--<i class="ion-arrow-left-c"></i> Back-->
    <!--</ion-nav-back-button>-->
  <!--</ion-nav-bar>-->
  <ion-content class="padding">

    <div class="list card" ng-repeat="item in items">

      <div class="item">
        <h2 class="shop-item-title"><i class="ion-thumbsup"></i>
          {{item.itemName}}</h2>
      </div>

      <div class="item item-image">
        <img ng-src="{{item.itemUrl}}">
      </div>

      <div class="item item-text-wrap">
        <p>{{item.itemDescription}}</p>
      </div>

      <a class="item item-icon-left assertive" href="{{item.itemLink}}">
        <i class="icon ion-android-cart"></i>
        ￥{{item.price}}
      </a>

    </div>

  </ion-content>
</ion-view>
