<ion-view class="my-view" cache-view="false">
  <ion-nav-title class="my-view-title">商店</ion-nav-title>

  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left item-icon-right item-icon-right" ng-repeat="starShop in starShops"
                type="item-text-wrap" href="#/tab/starShops/{{starShop.shopId}}">
        <img ng-src="{{starShop.shopProfile}}">
        <h2 class="my-item-title">{{starShop.shopName}}</h2>
        <p>{{starShop.shopDescription}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(starShop)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
